<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Syncfy</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/logo.png" alt="Logo da Syncfy" />
      </div>
      <div class="search">
        <form action="#">
          <input
            type="text"
            placeholder="O que você está procurando?"
            name="search"
          />
          <button type="submit">
            <img src="images/search-icon.png" alt="Ícone de pesquisa" />
          </button>
        </form>
      </div>
      <div class="cart">
        <img
          src="images/shopping-cart-icon.png"
          alt="Ícone de carrinho de
        compras"
        />
      </div>
    </header>

    <div class="text">
      <p>Bem-vindo, Victor</p>
    </div>
    <div class="banner">
      <img src="images/banner-syncfy.png" alt="Banner da Syncfy" />
    </div>

    <main>
      <section class="secao" id="categoria">
        <h2 class="categoria">Categorias</h2>
        <div class="secao-div">
          <article class="secao-div-card">
            <img
              decoding="async"
              src="images/carousel-desktop.png"
              alt="card"
            />
            <h3>Notebook ThinkPad</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
              provident.
            </p>
          </article>
        </div>
        <div class="secao-div">
          <article class="secao-div-card">
            <img
              decoding="async"
              src="images/carousel-desktop.png"
              alt="card"
            />
            <h3>Notebook ThinkPad</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
              provident.
            </p>
          </article>
        </div>
        <div class="secao-div">
          <article class="secao-div-card">
            <img
              decoding="async"
              src="images/carousel-desktop.png"
              alt="card"
            />
            <h3>Notebook ThinkPad</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
              provident.
            </p>
          </article>
        </div>
        <div class="secao-div">
          <article class="secao-div-card">
            <img
              decoding="async"
              src="images/carousel-desktop.png"
              alt="card"
            />
            <h3>Notebook ThinkPad</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam,
              provident.
            </p>
          </article>
        </div>
      </section>
    </main>
  </body>
</html>
